
* {
    margin: 0;
}

body {
    background-color: #f4efe9; 
    margin: 0;
}

.loadscreen {
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    height: 4500px;
    background: rgb(194,222,255);
    background: linear-gradient(0deg, rgba(194,222,255,1) 0%, rgba(7,66,138,1) 100%);

}

h1, h2, h3 {
    font-family: "Anta", sans-serif;
}

.skyer {
    background-image: url(/img/skyer.png);
    width: 100%;
    object-fit: fill;
    height: 280vh
}

.content {
    margin-top: 50px;
}

.atombombe {
    display: flex;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;
    z-index: -1;

}

.atombombe img {
    scroll-behavior: smooth;
    width: 85px;
    position:fixed;
    cursor: pointer;
}

.starttekst {
    position: absolute;
    color: white;
    font-size: 25px;
    top: 140px;
    font-weight: 400;
    right: 50px;
    font-family: "Anta", sans-serif;
}

.japanskby img {
    position: absolute;
    object-fit: cover;
    left: 0;
    max-width: 100%;
    height: 600px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.eksplosion {
    position: absolute;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    height: 1000px;
    width: 200%;
    max-width: 100%;
    opacity: 0;
    z-index: 1;
}

@keyframes combinedAnimation {
    0% { transform: translateY(0) rotate(0); }
    10% { transform: translateY(10vh) rotate(-5deg); }
    20% { transform: translateY(20vh) rotate(5deg); }
    30% { transform: translateY(30vh) rotate(0deg); }
    100% { transform: translateY(80vh) rotate(-5deg); }
}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes greenPulse {
    from {
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.8);  
    }
    50% {
        box-shadow: 0 0 40px 10px rgba(84, 150, 26, 0.566); 
    }
    to {
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.8);
    }
}

@keyframes green-pulse {
    0% {
      filter: drop-shadow(5px 0 5px rgba(228, 135, 22, 0.4)); /* Starteffekten for drop skyggen */
    }
    50% {
      filter: drop-shadow(10px 0 100px rgba(255, 140, 0, 0.8)); /* Midtvejseffekten for drop skyggen */
    }
    100% {
      filter: drop-shadow(5px 0 5px rgba(228, 135, 22, 0.4)); /* Sluteffekten for drop skyggen */
    }
  }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white; /* Start med hvid baggrund */
    z-index: -1;
    opacity: 0;
}

/* Styling af atombombeinfo.html */

.atombombekategorier {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    }


.atombombekategorier article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.atombombekategorier figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    width: 400px;
    border-radius: 50%;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    animation-name: greenPulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.atombombekategorier figure img {
    transition: 1s;
}

.atombombekategorier figure img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.atombombekategorier figcaption {
    margin-top: 20px;
}

.atombombekategorier img {
    width: 300px;
}

.atombombekategorier img, .atombombekategorier figure {
    cursor: pointer;
}

.atombombekategorier h2 {
    font-size: 22px;
}

.infooverskrift {
    width: 100%;
    text-align: center;
    z-index: -1;
    position: absolute;
    margin-top: 50px;
    font-size: 50px;
}

.fadeoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 1;
}

/* Styling af udviklingen.html */

.tilbageknap {
    position: absolute;
    left: 40px;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background-color: #929a68;
    transition: .2s;
    cursor: pointer;
    z-index: 9999;
}

.udviklingknap {
    position: sticky;
}

.tilbageknap a {
    font-size: 60px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: white;
    text-decoration: none;
}

.tilbageknap:hover {
    background-color: #656b48;
    transition: .2s;
}

    .container {
        width: 100%;
    }
  
  .image-container {
    margin-top: -100px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    }

  
  .image-container img:nth-child(1) {
    margin-left: 20%;
    height: auto;
    width: 650px;
    object-fit: cover;
  }
  
  .faktakort {
    margin-top: 100px;
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .faktabody {
    padding: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    max-width: 350px;
    background-color: rgba(0, 0, 0, .5);
    font-weight: 500;
    opacity: 0;
    transition: opacity 1s ease; /* Add transition for smooth visibility */
  }

  .faktabody h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .faktabody p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
  }

  .show {
    opacity: 1;
  }

  .pil {
    width: 150px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease; /* Tilføj en overgang for en glidende effekt */
  }

  .pil1 {
    position: absolute;
    transform: scaleX(-1) rotate(40deg);
    left: 30vw;
    top: 20vw;
  }

  .pil2 {
    position: absolute;
    left: 38vw;
    transform: scaleX(-1) rotate(40deg);
    top: 20vw;
  }

  .pil3 {
    position: absolute;
    left: 55vw;
    top: 20vw;
    transform: scaleX(-1) rotate(40deg);
  }


  
