
* {
    margin: 0;
}

body {
    background-color: #f4efe9; 
    margin: 0;
    padding: 0;
}

.startknap {
    padding: 10px 20px;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    left: 100px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, .3);
    position: absolute;
    font-size: 50px;
    transition: 1s;
    font-family: "Anta", sans-serif;
    cursor: pointer;
}

.startknap img {
    width: 20px;
    margin-right: 10px;
}

.startknap:hover {
    background-color: rgba(255, 255, 255, .7);
    transition: 1s;
    cursor: pointer;
}

.loadscreen {
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    height: 500vh;
    background: rgb(194,222,255);
    background: linear-gradient(0deg, rgba(194,222,255,1) 0%, rgba(7,66,138,1) 100%);

}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: "Anta", sans-serif;
}

.skyer {
    background-image: url(/img/skyer.png);
    width: 100%;
    object-fit: fill;
    height: 280vh
}

.content {
    margin-top: 100px;
    display: block;
}

.atombombe {
    display: flex;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;
    z-index: -1;

}

.bombefly  {
    display: flex;
    justify-content: center;
    }


.bombefly img {
    width: 500px;
    z-index: 999;
    margin-top: 15px;
}

.atombombe img {
    scroll-behavior: smooth;
    width: 35px;
    position:fixed;
    cursor: pointer;
}

.starttekst {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 0;
    font-weight: 400;
    top: 50vh;
    padding: 100px;
    font-family: "Anta", sans-serif;
}

.japanskby img {
    position: absolute;
    object-fit: cover;
    left: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.eksplosion {
    position: absolute;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    height: 1000px;
    width: 200%;
    max-width: 100%;
    opacity: 0;
    z-index: 1;
}

@keyframes combinedAnimation {
    0% { transform: translateY(0) rotate(0); }
    10% { transform: translateY(10vh) rotate(-5deg); }
    20% { transform: translateY(20vh) rotate(5deg); }
    30% { transform: translateY(30vh) rotate(0deg); }
    100% { transform: translateY(80vh) rotate(-5deg); }
}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes greenPulse {
    from {
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.8);  
    }
    50% {
        box-shadow: 0 0 40px 10px rgba(84, 150, 26, 0.566); 
    }
    to {
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.8);
    }
}

@keyframes green-pulse {
    0% {
      filter: drop-shadow(5px 0 5px rgba(228, 135, 22, 0.4)); /* Starteffekten for drop skyggen */
    }
    50% {
      filter: drop-shadow(10px 0 100px rgba(255, 140, 0, 0.8)); /* Midtvejseffekten for drop skyggen */
    }
    100% {
      filter: drop-shadow(5px 0 5px rgba(228, 135, 22, 0.4)); /* Sluteffekten for drop skyggen */
    }
  }
  

  @keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-7px) rotate(-1deg); }
    50% { transform: translateY(5px) rotate(1deg); }
    75% { transform: translateY(-7px) rotate(-1deg); }
    100% { transform: translateY(0); }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white; /* Start med hvid baggrund */
    z-index: -1;
    opacity: 0;
}

/* Styling af atombombeinfo.html */

.atombombekategorier {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    }


.atombombekategorier article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.atombombekategorier figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    width: 400px;
    border-radius: 50%;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    animation-name: greenPulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.atombombekategorier figure img {
    transition: 1s;
}

.atombombekategorier figure img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.atombombekategorier figcaption {
    margin-top: 20px;
}

.atombombekategorier img {
    width: 300px;
}

.atombombekategorier img, .atombombekategorier figure {
    cursor: pointer;
}

.atombombekategorier h2 {
    font-size: 22px;
}

.infooverskrift {
    width: 100%;
    text-align: center;
    z-index: -1;
    position: absolute;
    margin-top: 50px;
    font-size: 50px;
}

.fadeoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 1;
}

/* Styling af udviklingen.html */

.udviklingforside {
    background-image: url('/img/texture.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.udviklingforside article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: white;
}

.udviklingforside article p {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    line-height: 1.5;
    font-weight: 100;
    font-size: 21px;
}

.udviklingforside article h1 {
    font-size: 45px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.udviklingforside figure {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.udviklingforside figcaption {
    color: white;
    margin-top: 20px;
    font-style: italic;
}

.udviklingforside figure img {
    width: 650px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.littleboyoverskrift { 
    display: flex;
    align-items: center;
    position: sticky;
    padding-top: 100px;
    margin-left: 20%;
    top: 0;
    
}

.littleboyoverskrift h2 {
    font-size: 45px;

    
}


.tilbageknap {
    position: fixed;
    left: 40px;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: .2s;
    cursor: pointer;
    z-index: 9999;
    text-decoration: none;
}

.tilbageknap p {
    margin-bottom: 10px;
    margin-right: 5px;
    font-family: initial;

}


.udviklingknap {
    position: sticky;
}

.tilbageknap:hover {
    background-color: #656b48;
    transition: .2s;
}

    .container {
        width: 100%;
    }
  
  .image-container {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    margin-top: -100px;
    }

  
  .image-container img:nth-child(1) {
    margin-left: 20%;
    height: auto;
    width: 650px;
    object-fit: cover;
  }
  
  .faktakort {
    margin-top: 100px;
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .faktabody {
    padding: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    max-width: 350px;
    background-color: rgba(0, 0, 0, .5);
    font-weight: 500;
    opacity: 0;
    transition: opacity 1s ease; /* Add transition for smooth visibility */
  }

  .faktabody h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .faktabody p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;

  }

  .show {
    opacity: 1;
  }

  .pil {
    width: 150px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease; /* Tilføj en overgang for en glidende effekt */
  }

  .pil1 {
    position: absolute;
    transform: scaleX(-1) rotate(40deg);
    left: 30vw;
    top: 20vw;
  }

  .pil2 {
    position: absolute;
    left: 38vw;
    transform: scaleX(-1) rotate(40deg);
    top: 20vw;
  }

  .pil3 {
    position: absolute;
    left: 55vw;
    top: 20vw;
    transform: scaleX(-1) rotate(40deg);
  }

  /* Styling af Efterspil.html */

  .efterspilforside {
    background-image: url('/img/texture3.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.efterspilforside article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: white;
}

.efterspilforside article p {
    margin: 0 auto;
    width: 80%;
    text-align: justify;
    line-height: 1.5;
    font-weight: 100;
    font-size: 19px;
}

.efterspilforside article h1 {
    font-size: 45px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.efterspilforside figure {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.efterspilforside figcaption {
    color: white;
    margin-top: 20px;
    font-style: italic;
}

.efterspilforside figure img {
    width: 650px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.efterspillet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#baggrund {
    width: 100%;
    position: absolute;
    height: 100vh;
    background: rgb(194,222,255);
    background: linear-gradient(0deg, rgba(194,222,255,1) 0%, rgba(7,66,138,1) 100%);
    display: none;
    z-index: -1;
}


#spil-status {
    display: flex;
    font-size: 40px;
    margin-top: -200px;
}

#mand {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}

#mand img {
    width: 75px;
    margin-top: -80px;
}

#bombe {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}

#bombe img {
    width: 50px;
}

#level {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-family: "Anta", sans-serif;
    color: white;
}

#spil-status,
#mand,
#bombe,
#level {
    display: none;
}

#start-knap {
    padding: 10px 20px;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid black;
    background-color: rgba(145, 186, 145, 0.5);
    position: absolute;
    font-size: 50px;
    transition: 1s;
    font-family: "Anta", sans-serif;
    cursor: pointer;
}

#start-knap img {
    width: 20px;
    margin-right: 10px;
}

#start-knap:hover {
    background-color: rgb(91, 152, 91);
    transition: 1s;
    cursor: pointer;
}

#græs {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: none;
}

#græs img {
    width: 100%;
    margin-bottom: -5px;

}





  /* Styling af oedelaeggelse.html */

  .ol-container {
    width: 100%;
    height: 100vh;
    background-image: url('/img/texture2.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ol-container article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: white;
}

.ol-container article p {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    line-height: 1.5;
    font-weight: 100;
    font-size: 20px;
}

.ol-container article h1 {
    font-size: 45px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ol-container figure {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ol-container figcaption {
    color: white;
    margin-top: 20px;
    font-style: italic;
}

.ol-container figure img {
    width: 650px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
  
.nukemap {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.nukemap figure {
    width: 50%;
    height: 100%;
}

.nukemap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nukeinfo {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nukeinfo article {
    width: 70%;
}

.nukeinfo h2 {
    font-size: 20px;
}

.nukeinfo p {
    font-size: 12px;
    line-height: 1.2;
    text-align: justify;
}

.nukeinfo .cirkel {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-left: -35px;
    opacity: 0.6;
    border: .1px solid black;

}

.nukeinfo .gul {
    background-color: #f1e00c;
}

.nukeinfo .rød {
    background-color: red;
}

.nukeinfo .grøn {
    background-color: rgb(2, 205, 2);
}

.nukeinfo .grå {
    background-color: #c3c3c3;
}

.nukeinfo .orange {
    background-color: #f8b232;
}

.nukeinfo .sortgrå {
    background-color: #868686;
}

.nukeinfo .nukeoverskrift {
    font-size: 40px;
}

  
